<div style="align-items: center;">
<div class="form-group" style="width: 350px; padding: 30px; align-content: center;">
  <label>Amount </label>
  <input [(ngModel)]="amount" type="text" class="form-control" /><br>
  <label for="startDate">Start Date</label>
  <input id="startDate" name="startDate" [(ngModel)]="startDate" type="date" class="form-control" /><br>
  <label for="endDate">End Date</label>
  <input id="endDate" name="endDate" [(ngModel)]="endDate" type="date" class="form-control" /><br>
  <label>Agreement Type</label>
  <select [(ngModel)]="agreementType" class="form-control">
      <option value="1"> Mortgage agreements </option>
      <option value="2"> Credit facilities </option>
      <option value="3"> Unsecured credit transactions </option>
      <option value="4"> Developmental credit agreements For development of a small business </option>
      <option value="5"> Developmental credit agreements For low income housing (unsecured) </option>
      <option value="6"> Short term credit transactions </option>
      <option value="7"> Other credit agreements </option>
      <option value="8"> Incidental credit agreements </option>
  </select><br>
  <button (click)='calculateROI()' class="btn btn-primary"> Calculate ROI</button> 
  <div *ngIf = "showResult" style="padding: 5px;">
    <h4 class="font-weight-normal">Calculated ROI is {{'R.'+interestRate$}}</h4>
  </div>
</div>
</div>